wsdl/HumanTaskProtocolHandler.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/protocol/200803" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:htp="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/protocol/200803" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/protocol/200803">
<wsdl:documentation>
    Web Service Definition for WS-HumanTask 1.1 - Operations WS-HumanTask Protocol Participants
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/protocol/200803">
  
    <xsd:complexType name="tProtocolMsgType">
    	<xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="skipped" type="htp:tProtocolMsgType"/>
    <xsd:element name="fault" type="htp:tProtocolMsgType"/>
    <xsd:element name="exit" type="htp:tProtocolMsgType"/>

    <xsd:element name="responseAction" type="xsd:anyURI"/>
    <xsd:element name="responseOperation" type="xsd:NCName"/>
  
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fault">
    <wsdl:part name="parameters" element="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="skipped">
    <wsdl:part name="parameters" element="skipped">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exit">
    <wsdl:part name="parameters" element="exit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="clientParticipantPortType">
    <wsdl:operation name="skippedOperation">
      <wsdl:input message="skipped">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="faultOperation">
      <wsdl:input message="fault">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="humanTaskParticipantPortType">
    <wsdl:operation name="exitOperation">
      <wsdl:input message="exit">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="humanTaskParticipantSOAPBinding" type="humanTaskParticipantPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="exitOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/protocol/200803/exit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanTaskProtocolHandler">
    <wsdl:port name="humanTaskParticipantPortType" binding="humanTaskParticipantSOAPBinding">
      <soap:address location="https://localhost:9443/services/HumanTaskProtocolHandler/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>