wsdl/InstanceManagementService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wso2.org/bps/management/wsdl/InstanceManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://wso2.org/bps/management/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProcessManagement" targetNamespace="http://wso2.org/bps/management/wsdl/InstanceManagement">
  <types>
    <xsd:schema targetNamespace="http://wso2.org/bps/management/wsdl/InstanceManagement">
            <xsd:import namespace="http://wso2.org/bps/management/schema" schemaLocation="InstanceManagementService?xsd=bps_management.xsd"/>
        </xsd:schema>
  </types>
  <message name="getPaginatedInstanceListRequest">
    <part name="part" element="ns:getPaginatedInstanceListInput">
    </part>
  </message>
  <message name="recoverActivityRequest">
    <part name="part" element="ns:recoverActivity">
    </part>
  </message>
  <message name="getInstanceSummaryResponse">
    <part name="part" element="ns:instanceSummary">
    </part>
  </message>
  <message name="getLongRunningInstancesResponse">
    <part name="part" element="ns:getLongRunningInstancesResponse">
    </part>
  </message>
  <message name="getInstanceInfoRequest">
    <part name="part" element="ns:getInstanceInfoIn">
    </part>
  </message>
  <message name="getScopeInfoResponse">
    <part name="part" element="ns:ScopeInfo">
    </part>
  </message>
  <message name="getInstanceViewVariableLengthResponse">
    <part name="part" element="ns:InstanceViewVariableLength">
    </part>
  </message>
  <message name="instanceManagementException">
    <part name="part" element="ns:instanceManagementException">
    </part>
  </message>
  <message name="getVariableInfoRequest">
    <part name="part" element="ns:getVariableInfo">
    </part>
  </message>
  <message name="getInstanceSummaryRequest">
  </message>
  <message name="deleteInstanceResponse">
    <part name="part" element="ns:deleteInstanceOut">
    </part>
  </message>
  <message name="getFailedActivitiesForInstanceRequest">
    <part name="part" element="ns:getFailedActivitiesForInstance">
    </part>
  </message>
  <message name="getLongRunningInstancesRequest">
    <part name="part" element="ns:getLongRunningInstancesInput">
    </part>
  </message>
  <message name="faultInstanceResponse">
    <part name="part" element="ns:InstanceInfo">
    </part>
  </message>
  <message name="getVariableInfoResponse">
    <part name="part" element="ns:VariableInfo">
    </part>
  </message>
  <message name="getInstanceInfoResponse">
    <part name="part" element="ns:InstanceInfo">
    </part>
  </message>
  <message name="getInstanceViewVariableLengthRequest">
  </message>
  <message name="getPaginatedInstanceListResponse">
    <part name="part" element="ns:PaginatedInstanceList">
    </part>
  </message>
  <message name="suspendInstanceRequest">
    <part name="part" element="ns:suspendInstance">
    </part>
  </message>
  <message name="deleteInstanceRequest">
    <part name="part" element="ns:deleteInstance">
    </part>
  </message>
  <message name="getActivityLifeCycleFilterResponse">
    <part name="part" element="ns:ActivityLifeCycleEvents">
    </part>
  </message>
  <message name="resumeInstanceRequest">
    <part name="part" element="ns:resumeInstance">
    </part>
  </message>
  <message name="getScopeInfoWithActivitiesRequest">
    <part name="part" element="ns:getScopeInfoWithActivities">
    </part>
  </message>
  <message name="deleteInstancesResponse">
    <part name="part" element="ns:deleteInstanceResponse">
    </part>
  </message>
  <message name="getInstanceInfoWithEventsResponse">
    <part name="part" element="ns:InstanceInfoWithEvents">
    </part>
  </message>
  <message name="terminateInstanceRequest">
    <part name="part" element="ns:terminateInstance">
    </part>
  </message>
  <message name="getScopeInfoRequest">
    <part name="part" element="ns:getScopeInfo">
    </part>
  </message>
  <message name="deleteInstancesRequest">
    <part name="part" element="ns:deleteInstances">
    </part>
  </message>
  <message name="faultInstanceRequest">
    <part name="part" element="ns:faultInstance">
    </part>
  </message>
  <message name="getScopeInfoWithActivitiesResponse">
    <part name="part" element="ns:ScopeInfo">
    </part>
  </message>
  <message name="getFailedActivitiesForInstanceResponse">
    <part name="part" element="ns:getFailedActivitiesForInstanceResponse">
    </part>
  </message>
  <message name="getActivityLifeCycleFilterRequest">
    <part name="part" element="ns:getActivityLifeCycleFilterIn">
    </part>
  </message>
  <portType name="InstanceManagementPortType">
    <operation name="getInstanceViewVariableLength">
      <input message="tns:getInstanceViewVariableLengthRequest">
    </input>
      <output message="tns:getInstanceViewVariableLengthResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getPaginatedInstanceList">
      <input message="tns:getPaginatedInstanceListRequest">
    </input>
      <output message="tns:getPaginatedInstanceListResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getLongRunningInstances">
      <input message="tns:getLongRunningInstancesRequest">
    </input>
      <output message="tns:getLongRunningInstancesResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getInstanceInfo">
      <input message="tns:getInstanceInfoRequest">
    </input>
      <output message="tns:getInstanceInfoResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getInstanceInfoWithEvents">
      <input message="tns:getInstanceInfoRequest">
    </input>
      <output message="tns:getInstanceInfoWithEventsResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getActivityLifeCycleFilter">
      <input message="tns:getActivityLifeCycleFilterRequest">
    </input>
      <output message="tns:getActivityLifeCycleFilterResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="suspendInstance">
      <input message="tns:suspendInstanceRequest">
    </input>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="resumeInstance">
      <input message="tns:resumeInstanceRequest">
    </input>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="terminateInstance">
      <input message="tns:terminateInstanceRequest">
    </input>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="deleteInstances">
      <input message="tns:deleteInstancesRequest">
    </input>
      <output message="tns:deleteInstancesResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="recoverActivity">
      <input message="tns:recoverActivityRequest">
    </input>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getInstanceSummary">
      <input message="tns:getInstanceSummaryRequest">
    </input>
      <output message="tns:getInstanceSummaryResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
    <operation name="getFailedActivitiesForInstance">
      <input message="tns:getFailedActivitiesForInstanceRequest">
    </input>
      <output message="tns:getFailedActivitiesForInstanceResponse">
    </output>
      <fault name="instanceManagementException" message="tns:instanceManagementException">
    </fault>
    </operation>
  </portType>
  <binding name="InstanceManagementSOAPBinding" type="tns:InstanceManagementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInstanceViewVariableLength">
      <soap:operation soapAction="urn:getInstanceViewVariableLength"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPaginatedInstanceList">
      <soap:operation soapAction="urn:getPaginatedInstanceList"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLongRunningInstances">
      <soap:operation soapAction="urn:getLongRunningInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInstanceInfo">
      <soap:operation soapAction="urn:getInstanceInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getActivityLifeCycleFilter">
      <soap:operation soapAction="urn:getActivityLifeCycleFilter"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInstanceInfoWithEvents">
      <soap:operation soapAction="urn:getInstanceInfoWithEvents"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="suspendInstance">
      <soap:operation soapAction="urn:suspendInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="resumeInstance">
      <soap:operation soapAction="urn:resumeInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="terminateInstance">
      <soap:operation soapAction="urn:terminateInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteInstances">
      <soap:operation soapAction="urn:deleteInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="recoverActivity">
      <soap:operation soapAction="urn:recoverActivity"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInstanceSummary">
      <soap:operation soapAction="urn:getInstanceSummary"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getFailedActivitiesForInstance">
      <soap:operation soapAction="urn:getFailedActivitiesForInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="instanceManagementException">
        <soap:fault name="instanceManagementException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InstanceManagementService">
    <port name="instanceManagementSOAPPort" binding="tns:InstanceManagementSOAPBinding">
      <soap:address location="https://localhost:9443/services/InstanceManagementService/"/>
    </port>
  </service>
</definitions>