wsdl/ProcessManagementService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wso2.org/bps/management/wsdl/ProcessManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://wso2.org/bps/management/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProcessManagement" targetNamespace="http://wso2.org/bps/management/wsdl/ProcessManagement">
  <types>
    <xsd:schema targetNamespace="http://wso2.org/bps/management/wsdl/ProcessManagement">
            <xsd:import namespace="http://wso2.org/bps/management/schema" schemaLocation="ProcessManagementService?xsd=bps_management.xsd"/>
        </xsd:schema>
  </types>
  <message name="getAllProcessesRequest">
    <part name="part1" element="ns:getAllProcesses">
    </part>
  </message>
  <message name="updateDeployInfoRequest">
    <part name="part1" element="ns:ProcessDeploymentInfo">
    </part>
  </message>
  <message name="retireProcessRequest">
    <part name="part1" element="ns:retireProcessIn">
    </part>
  </message>
  <message name="activateProcessRequest">
    <part name="part1" element="ns:activateProcessIn">
    </part>
  </message>
  <message name="getProcessInfoResponse">
    <part name="part1" element="ns:ProcessInfo">
    </part>
  </message>
  <message name="getPaginatedProcessListResponse">
    <part name="part1" element="ns:PaginatedProcessInfoList">
    </part>
  </message>
  <message name="getProcessInfoRequest">
    <part name="part1" element="ns:getProcessInfoIn">
    </part>
  </message>
  <message name="getAllProcessesResponse">
    <part name="part1" element="ns:ProcessIDList">
    </part>
  </message>
  <message name="getPaginatedProcessListRequest">
    <part name="part1" element="ns:getPaginatedProcessListInput">
    </part>
  </message>
  <message name="getProcessDeployDetailsRequest">
    <part name="part1" element="ns:getProcessDeployDetails">
    </part>
  </message>
  <message name="processManagementException">
    <part name="part" element="ns:processManagementException">
    </part>
  </message>
  <message name="getProcessDeployDetailsResponse">
    <part name="part1" element="ns:ProcessDeploymentInfo">
    </part>
  </message>
  <portType name="ProcessManagementPortType">
    <operation name="getPaginatedProcessList">
      <input message="tns:getPaginatedProcessListRequest">
    </input>
      <output message="tns:getPaginatedProcessListResponse">
    </output>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="retireProcess">
      <input message="tns:retireProcessRequest">
    </input>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="activateProcess">
      <input message="tns:activateProcessRequest">
    </input>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="getProcessInfo">
      <input message="tns:getProcessInfoRequest">
    </input>
      <output message="tns:getProcessInfoResponse">
    </output>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="getAllProcesses">
      <input message="tns:getAllProcessesRequest">
    </input>
      <output message="tns:getAllProcessesResponse">
    </output>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="getProcessDeploymentInfo">
      <input message="tns:getProcessDeployDetailsRequest">
    </input>
      <output message="tns:getProcessDeployDetailsResponse">
    </output>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
    <operation name="updateDeployInfo">
      <input message="tns:updateDeployInfoRequest">
    </input>
      <fault name="processManagementException" message="tns:processManagementException">
    </fault>
    </operation>
  </portType>
  <binding name="ProcessManagementSOAPBinding" type="tns:ProcessManagementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPaginatedProcessList">
      <soap:operation soapAction="urn:getPaginatedProcessList"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="retireProcess">
      <soap:operation soapAction="urn:retireProcess"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="activateProcess">
      <soap:operation soapAction="urn:activateProcess"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessInfo">
      <soap:operation soapAction="urn:getProcessInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllProcesses">
      <soap:operation soapAction="urn:getAllProcesses"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessDeploymentInfo">
      <soap:operation soapAction="urn:getProcessDeploymentInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDeployInfo">
      <soap:operation soapAction="urn:updateDeployInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <fault name="processManagementException">
        <soap:fault name="processManagementException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProcessManagementService">
    <port name="ProcessManagementSOAPPort" binding="tns:ProcessManagementSOAPBinding">
      <soap:address location="https://localhost:9443/services/ProcessManagementService/"/>
    </port>
  </service>
</definitions>