wsdl/RegistrationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wscoor="http://docs.oasis-open.org/ws-tx/wscoor/2006/06" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://docs.oasis-open.org/ws-tx/wscoor/2006/06">
  <wsdl:types>
    <xs:schema>
            <xs:import namespace="http://docs.oasis-open.org/ws-tx/wscoor/2006/06" schemaLocation="RegistrationService?xsd=wscoor.xsd"/>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="RegisterResponse">
    <wsdl:part name="parameters" element="wscoor:RegisterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCoordinationContextResponse">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContextResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Register">
    <wsdl:part name="parameters" element="wscoor:Register">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCoordinationContext">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContext">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ActivationPortType">
    <wsdl:operation name="CreateCoordinationContextOperation">
      <wsdl:input message="wscoor:CreateCoordinationContext">
    </wsdl:input>
      <wsdl:output message="wscoor:CreateCoordinationContextResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistrationPortType">
    <wsdl:operation name="RegisterOperation">
      <wsdl:input message="wscoor:Register">
    </wsdl:input>
      <wsdl:output message="wscoor:RegisterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationPortTypeBinding" type="wscoor:RegistrationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegisterOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wscoor/2006/06/Register"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="RegistrationPort" binding="wscoor:RegistrationPortTypeBinding">
      <soap:address location="https://localhost:9443/services/RegistrationService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>