wsdl/XMPPConfigurationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2368="http://dto.provider.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://provider.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2364="http://provider.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2365="http://base.identity.carbon.wso2.org/xsd" targetNamespace="http://provider.identity.carbon.wso2.org">
    <wsdl:documentation>XMPPConfigurationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2367="http://provider.identity.carbon.wso2.org/xsd" xmlns:ax2369="http://dto.provider.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://provider.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.provider.identity.carbon.wso2.org/xsd"/>
            <xs:element name="XMPPConfigurationServiceIdentityProviderException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityProviderException" nillable="true" type="ax2367:IdentityProviderException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXmppSettings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXmppSettingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2368:XMPPSettingsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasXMPPSettings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasXMPPSettingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserIM">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserIMResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editXmppSettings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dto" nillable="true" type="ax2368:XMPPSettingsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserXmppSettings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dto" nillable="true" type="ax2368:XMPPSettingsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserXmppSettingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isXMPPSettingsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isXMPPSettingsEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="XMPPSettingsDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="PINEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xmppEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="xmppServer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xmppUserName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2366="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://provider.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="IdentityProviderException">
                <xs:complexContent>
                    <xs:extension base="ax2366:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorInfoList" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hasXMPPSettingsRequest">
        <wsdl:part name="parameters" element="ns1:hasXMPPSettings"/>
    </wsdl:message>
    <wsdl:message name="hasXMPPSettingsResponse">
        <wsdl:part name="parameters" element="ns1:hasXMPPSettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="XMPPConfigurationServiceIdentityProviderException">
        <wsdl:part name="parameters" element="ns1:XMPPConfigurationServiceIdentityProviderException"/>
    </wsdl:message>
    <wsdl:message name="getUserIMRequest">
        <wsdl:part name="parameters" element="ns1:getUserIM"/>
    </wsdl:message>
    <wsdl:message name="getUserIMResponse">
        <wsdl:part name="parameters" element="ns1:getUserIMResponse"/>
    </wsdl:message>
    <wsdl:message name="getXmppSettingsRequest">
        <wsdl:part name="parameters" element="ns1:getXmppSettings"/>
    </wsdl:message>
    <wsdl:message name="getXmppSettingsResponse">
        <wsdl:part name="parameters" element="ns1:getXmppSettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="editXmppSettingsRequest">
        <wsdl:part name="parameters" element="ns1:editXmppSettings"/>
    </wsdl:message>
    <wsdl:message name="addUserXmppSettingsRequest">
        <wsdl:part name="parameters" element="ns1:addUserXmppSettings"/>
    </wsdl:message>
    <wsdl:message name="addUserXmppSettingsResponse">
        <wsdl:part name="parameters" element="ns1:addUserXmppSettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="isXMPPSettingsEnabledRequest">
        <wsdl:part name="parameters" element="ns1:isXMPPSettingsEnabled"/>
    </wsdl:message>
    <wsdl:message name="isXMPPSettingsEnabledResponse">
        <wsdl:part name="parameters" element="ns1:isXMPPSettingsEnabledResponse"/>
    </wsdl:message>
    <wsdl:portType name="XMPPConfigurationServicePortType">
        <wsdl:operation name="hasXMPPSettings">
            <wsdl:input message="tns:hasXMPPSettingsRequest" wsaw:Action="urn:hasXMPPSettings"/>
            <wsdl:output message="tns:hasXMPPSettingsResponse" wsaw:Action="urn:hasXMPPSettingsResponse"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:hasXMPPSettingsXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserIM">
            <wsdl:input message="tns:getUserIMRequest" wsaw:Action="urn:getUserIM"/>
            <wsdl:output message="tns:getUserIMResponse" wsaw:Action="urn:getUserIMResponse"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:getUserIMXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="getXmppSettings">
            <wsdl:input message="tns:getXmppSettingsRequest" wsaw:Action="urn:getXmppSettings"/>
            <wsdl:output message="tns:getXmppSettingsResponse" wsaw:Action="urn:getXmppSettingsResponse"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:getXmppSettingsXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="editXmppSettings">
            <wsdl:input message="tns:editXmppSettingsRequest" wsaw:Action="urn:editXmppSettings"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:editXmppSettingsXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="addUserXmppSettings">
            <wsdl:input message="tns:addUserXmppSettingsRequest" wsaw:Action="urn:addUserXmppSettings"/>
            <wsdl:output message="tns:addUserXmppSettingsResponse" wsaw:Action="urn:addUserXmppSettingsResponse"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:addUserXmppSettingsXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="isXMPPSettingsEnabled">
            <wsdl:input message="tns:isXMPPSettingsEnabledRequest" wsaw:Action="urn:isXMPPSettingsEnabled"/>
            <wsdl:output message="tns:isXMPPSettingsEnabledResponse" wsaw:Action="urn:isXMPPSettingsEnabledResponse"/>
            <wsdl:fault message="tns:XMPPConfigurationServiceIdentityProviderException" name="XMPPConfigurationServiceIdentityProviderException" wsaw:Action="urn:isXMPPSettingsEnabledXMPPConfigurationServiceIdentityProviderException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XMPPConfigurationServiceSoap11Binding" type="tns:XMPPConfigurationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasXMPPSettings">
            <soap:operation soapAction="urn:hasXMPPSettings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserIM">
            <soap:operation soapAction="urn:getUserIM" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXmppSettings">
            <soap:operation soapAction="urn:getXmppSettings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editXmppSettings">
            <soap:operation soapAction="urn:editXmppSettings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserXmppSettings">
            <soap:operation soapAction="urn:addUserXmppSettings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isXMPPSettingsEnabled">
            <soap:operation soapAction="urn:isXMPPSettingsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XMPPConfigurationServiceSoap12Binding" type="tns:XMPPConfigurationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasXMPPSettings">
            <soap12:operation soapAction="urn:hasXMPPSettings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserIM">
            <soap12:operation soapAction="urn:getUserIM" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXmppSettings">
            <soap12:operation soapAction="urn:getXmppSettings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editXmppSettings">
            <soap12:operation soapAction="urn:editXmppSettings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserXmppSettings">
            <soap12:operation soapAction="urn:addUserXmppSettings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isXMPPSettingsEnabled">
            <soap12:operation soapAction="urn:isXMPPSettingsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="XMPPConfigurationServiceIdentityProviderException">
                <soap12:fault use="literal" name="XMPPConfigurationServiceIdentityProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XMPPConfigurationServiceHttpBinding" type="tns:XMPPConfigurationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hasXMPPSettings">
            <http:operation location="hasXMPPSettings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserIM">
            <http:operation location="getUserIM"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXmppSettings">
            <http:operation location="getXmppSettings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editXmppSettings">
            <http:operation location="editXmppSettings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addUserXmppSettings">
            <http:operation location="addUserXmppSettings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isXMPPSettingsEnabled">
            <http:operation location="isXMPPSettingsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XMPPConfigurationService">
        <wsdl:port name="XMPPConfigurationServiceHttpsSoap11Endpoint" binding="tns:XMPPConfigurationServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/XMPPConfigurationService.XMPPConfigurationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XMPPConfigurationServiceHttpsSoap12Endpoint" binding="tns:XMPPConfigurationServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/XMPPConfigurationService.XMPPConfigurationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XMPPConfigurationServiceHttpsEndpoint" binding="tns:XMPPConfigurationServiceHttpBinding">
            <http:address location="https://localhost:9443/services/XMPPConfigurationService.XMPPConfigurationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>